.core {
    position: relative;
    text-align: center;
    color: black;
    padding: 10px 10px;
    margin: 5px 5px;
  }
    .container {
    position: relative;
    text-align: center;
    color: white;
  }

  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }

  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }

  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .btn {
    border: none;
    background-color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  .c {
    color: black;
  }
  .text {
    text-align: center;
  }
  * {
box-sizing: border-box;
}

.column {
float: left;
width: 50%;
padding: 5px;
}

/* Clearfix (clear floats) */
.ro::after {
content: "";
clear: both;
display: table;}
.cent {
position: absolute;
    top:20%;
    left: 20%;
    transform: translate(-20%, -20%);
    padding: 5px 10px;
  }
  .cen {
position: absolute;
    top:40%;
    left: 72%;
    transform: translate(-70%, -70%);
    padding: 5px 10px;
  }
  .para {
    padding: 25px 250px;

  }

.mam {
  margin-top: 20px;
  margin-bottom: 20px;
}

.full{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px 30px;
}

.half{
  margin: 10px 10px;
  padding: 5px 5px;
}

